*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body{
    background-color: #F2F2F2;
}

/*Landing section*/
section.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #36156A;
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

section.landing .middleContainer{
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.landing .content{
    clear: right;
    width: 100%;
    padding-left: 10%;
    display: inline-block;
}

/* menu */
.menu{
    position: relative;
    width: 100%;
    height: 100px;
}

.menu ul{
    width: auto;
    height: auto;
    float: right;
    padding: 30px;
}

.menu ul li{
    width: auto;
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    list-style: none;
}

.menu ul li span{
    font-weight: bold;
    color: #fff;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
}

.menu ul li span:hover{
    color: #ccc;
}

section.landing .content h1{
    width: 100%;
    font-size: 2.6em;
    color: #fcfcfc;
}

.markedText{
    color: #CE3535;
}

section.landing .content .container{width: 100%;margin-top: 25px;}

section.landing .content .container .button{
    width: 180px;
    height: 40px;
    background-color: #fff;
    color: #222;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.25);
    cursor: pointer;
    outline: none;
}

section.landing .content .container .button:active{
    background-color: #ccc;
}

section.landing .middleContainer .illustration{
    position: absolute;
    width: 35%;
    height: auto;
    bottom: 0;
    right: 0;
}

section.landing .middleContainer .illustration img{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    transition-duration: 0.5s;
    animation: ani1 1s infinite;
    animation-direction: alternate;
}

@keyframes ani1{
    from{
        bottom: 0;
    }
    to{
        bottom: 10px;
    }
}

/*About section*/
section.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #171717;
    display: block;
    display: flex;
    align-items: center;
}

section.about .align{
    position: relative;
    width: 100%;
    height: auto;
}

section.about .title{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}

section.about .title h2{
    color: #fff;
    font-size: 2em;
}

section.about .description{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about .description .text{
    max-width: 50%;
    padding: 30px;
}

section.about .description .text p{
    font-size: 1.5em;
    color: #fff;
}

section.about .description .image{
    width: 17%;
}

section.about .description .image img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/*projects*/
section.projects{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

section.projects .title{
    width: 100%;
    height: auto;
    margin: 50px auto 50px;
}

section.projects .title h2{
    color: #1F1F1F;
    text-align: center;
    font-size: 2em;
}

.panelsContainer{
    position: relative;
    width: 100%;
    height: auto;
}

.panelsContainer .project{
    width: 100%;
    height: auto;
    clear: both;
}

.panelsContainer .project .image{
    width: 25%;
    float: left;
}

.panelsContainer .project .image img, .panelsContainer .project-right .image img{width: 100%;height: 100%;}

.panelsContainer .project .content{
    width: 65%;
    float: left;
    padding: 40px;
}

.panelsContainer .content h3{
    font-size: 1.5em;
    color: #333333;
}

.panelsContainer .content p{
    font-size: 1.2em;
}

.project-right{
    position: relative;
    width: 100%;
    height: auto;
    clear: left;
    top: -70px;
}

.ell{
    position: relative;
}

.project-right .image{
    width: 25%;
    float: right;
}

.project-right .content, 
.project-right .content h3,
.project-right .content p
{
    text-align: right;
}

.project-right .image{
    margin-left: 40px;
}

.project-right .content{
    padding-top: 40px;
}

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    clear: both;
}