*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Landing section*/

section.landing{
    width: 100%;
    height: 100vh;
    background-color: #36156A;
    background-image: url("../images/shapes.svg");
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
}

section.landing .content{
    width: 50%;
    padding-left: 15%;
}

section.landing .content h1{
    width: 100%;
    font-size: 2.3em;
    color: #fcfcfc;
}

section.landing .content .container{width: 100%;margin-top: 25px;}

section.landing .content .container .button{
    width: 40%;
    height: 40px;
    background-color: #fff;
    color: #222;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.25);
    cursor: pointer;
    outline: none;
}

section.landing .content .container .button:active{
    background-color: #ccc;
}

section.landing .illustration{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

section.landing .illustration img{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/*About section*/

section.about{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

section.about aside{
    float: left;
    width: 25%;
    height: 100%;
    background-color: #1C1C1C;
    display: flex; 
    align-items: center;
    justify-content: center;
}

section.about aside img{
    border-radius: 100%;
    border: solid 4px #36156A;
}

section.text{
    display: flex;
    justify-content: center;
}

section.text .content{
    width: 49%;
}

section.text h2, section.text p{
    color: #dbdbdb;
}

section.text h2{
    font-size: 1.8em;
    margin-bottom: 20px;
}

section.text p{
    font-size: 1.4em;
}

section.skills{
    width: 100%;
    height: 60vh;
    background-color: #131313;
    padding: 50px;
}

section.skills h2{
    color: #dbdbdb;
    margin-bottom: 30px;
    font-size: 1.8em;
}

section.skills .skills-list{
    width: 60%;
    height: auto;
}

section.skills .skills-list .skill{
    padding: 10px;
    border: solid 1px #424242;
    background-color: #424242;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
    display: inline-block;
}

section.skills .skills-list .skill span{
    color: #D8D8D8;
    user-select: none;
}