@media(max-width: 760px){
    .menu{display: none;margin-bottom: 20px}
    section.landing{
        min-height: 100vh;
        height: auto;
        display: flex;
        align-items: center;
    }
    section.landing .middleContainer{
        height: auto;
        display: block;
    }
    section.landing .content{
        width: 70%;
        display: block;
        margin: 0 auto 0;
    }
    section.landing .content h1{
        font-size: 1.55em;
    }

    section.landing .content .container{
        display: none;
        justify-content: center;
    }
    section.landing .middleContainer .illustration{
        position: relative;
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }
    section.about .title h2{
        font-size: 1.5em;
    }
}

@media(max-width: 1000px){
    section.about .title{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    section.about .description{
        width: 100%;
        padding: 0;
        display: block;
    }
    section.about .description .image{
        width: 50%;
    }
    section.about .description .image,section.about .description .text{
        margin: auto;
        padding: 0;
    }
    section.about .description .text{
        width: auto;
        max-width: none;
        padding: 50px;
    }
    section.about .description .text p{
        width: 100%;
        font-size: 1.2em;
        text-align: justify;
    }
}