@media(max-width: 760px){
    .menu{display: none;margin-bottom: 20px}
    section.landing{
        min-height: 100vh;
        height: auto;
        display: flex;
        align-items: center;
    }
    section.landing .middleContainer{
        height: auto;
        display: block;
    }
    section.landing .content{
        width: 70%;
        display: block;
        margin: 0 auto 0;
    }
    section.landing .content h1{
        font-size: 1.55em;
    }

    section.landing .content .container{
        display: none;
        justify-content: center;
    }
    section.landing .middleContainer .illustration{
        position: relative;
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }
}

@media(max-width: 1300px){
   
}