@media(max-width: 760px){
    .menu{display: none;margin-bottom: 20px}
    section.landing{
        min-height: 100vh;
        height: auto;
        display: flex;
        padding-top: 50px;
        align-items: center;
    }
    section.landing .middleContainer{
        height: auto;
        display: block;
    }
    section.landing .content{
        width: 70%;
        display: block;
        margin: 0 auto 0;
    }
    section.landing .content h1{
        font-size: 1.55em;
    }

    section.landing .content .container{
        display: none;
        justify-content: center;
    }
    section.landing .middleContainer .illustration{
        position: relative;
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }
    section.about .title h2{
        font-size: 1.5em;
    }
}

@media(max-width: 1000px){
    section.about .title{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    section.about .description{
        width: 100%;
        padding: 0;
        display: block;
    }
    section.about .description .image{
        width: 50%;
    }
    section.about .description .image,section.about .description .text{
        margin: auto;
        padding: 0;
    }
    section.about .description .text{
        width: auto;
        max-width: none;
        padding: 50px;
    }
    section.about .description .text p{
        width: 100%;
        font-size: 1.2em;
        text-align: left;
    }
    section.contact .form{
        width: 70%;
    }
}

@media(max-width: 700px){
    .panelsContainer .project .image,
    .project-right .image,
    .panelsContainer .project .content{
        float: none;
    }
    .project-right .content, 
    .project-right .content h3,
    .project-right .content p{
        text-align: left;
    }
    .project-right{top: 0;}
    .project-right .image, .content{
        margin-left: 0;
        padding-top: 0;
    }
    section.landing .content h1{
        font-size: 2.5em;
    }
    .panelsContainer .project .content,.panelsContainer .content{
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .panelsContainer{
        width: 60%;
        margin: auto;
        display: block;
    }
    .panelsContainer .project .image,
    .project-right .image{
        width: 100%;
        margin-bottom: 10px;
    }
    .panelsContainer .project, .panelsContainer .project-right{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .panelsContainer .project-right{
        text-align: left;
    }
    .panelsContainer .project-right .image, .panelsContainer .project-right .content{
        margin: 0;
        padding: 0;
    }

    .panelsContainer .project-right .content h3{
        float: none;
        margin: auto;
        text-align: left;
    }
}

@media(max-width: 400px){
    section.landing .content h1{
        font-size: 1.7em;
    }
}

@media(max-width: 320px){
    section.contact{
        padding-top: 50px;
    }
    section.contact .title{
        margin-bottom: 20px;
    }
    section.contact .title h2,
    section.about .title h2,
    section.projects .title h2{
        font-size: 1.5em;
    }
    section.landing .content h1{
        font-size: 1.4em;
    }
    section.about .description .text{
        padding: 20px;
    }
    section.about .description .text p{
        text-align: left;
    }
    section.contact .form{
        width: 85%;
    }

    section.projects .content h3{
        font-size: 1.3em;
    }

    section.projects .content{
        width: 100%;
    }

    .panelsContainer .project-right{
    }


}